.col-1-of-3{
    width:calc( (100% - 60px ) / 3 );
    float:left;
    padding:60px;
    transition:all 0.3s;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
[class^="col-"]:not(:last-child){
    margin-right: 30px;
}
.col-1-of-4{
    width:calc( (100% - 90px ) / 4 );
    float:left;
}